<a href="https://colab.research.google.com/github/rukendar/Rukendar.s/blob/main/Day_10_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#Q_1
import pandas as pd

file_path = r'/content/drive/MyDrive/Assignments_excelr/Day_10_banking_data.csv'
df = pd.read_csv(file_path)

# Task 1: Filter out all rows where the Transaction_Amount is greater than 2000
filtered_transaction_amount = df[df['Transaction_Amount'] > 2000]

# Task 2: Find all rows where the Transaction_Type is "Loan Payment" and the Account_Balance is greater than 5000
filtered_loan_payment = df[(df['Transaction_Type'] == 'Loan Payment') & (df['Account_Balance'] > 5000)]

# Task 3: Extract transactions made in the "Uptown" branch
filtered_uptown_branch = df[df['Branch'] == 'Uptown']

print("Rows where Transaction_Amount is greater than 2000:")
print(filtered_transaction_amount)
print("\nRows where Transaction_Type is 'Loan Payment' and Account_Balance is greater than 5000:")
print(filtered_loan_payment)
print("\nTransactions made in the 'Uptown' branch:")
print(filtered_uptown_branch)

Rows where Transaction_Amount is greater than 2000:
          Date       Account_Type    Branch Transaction_Type  \
2   2023-01-10            Current    Uptown     Loan Payment
4   2023-01-14  Recurring Deposit  Suburban     Loan Payment
5   2023-01-06            Current  Suburban   Service Charge
7   2023-01-09            Current   Central     Loan Payment
8   2023-01-20  Recurring Deposit  Downtown   Service Charge
13  2023-01-05  Recurring Deposit   Central     Loan Payment
14  2023-01-01      Fixed Deposit  Downtown       Withdrawal
15  2023-01-03            Savings  Suburban   Service Charge
16  2023-01-02      Fixed Deposit   Central          Deposit
17  2023-01-07            Current   Central     Loan Payment
19  2023-01-17            Savings   Central          Deposit

    Transaction_Amount  Account_Balance
2              3363.85         12428.67
4              2788.57          4779.04
5              4584.05          7635.47
7              2346.72         10708.85
8              3899.98         12646.56
13             4683.64          6762.43
14             4136.54          8175.08
15             3350.32         12836.51
16             4421.57          8330.40
17             4116.52          9785.64
19             4516.52          8789.19

Rows where Transaction_Type is 'Loan Payment' and Account_Balance is greater than 5000:
          Date       Account_Type   Branch Transaction_Type  \
0   2023-01-19      Fixed Deposit  Central     Loan Payment
2   2023-01-10            Current   Uptown     Loan Payment
3   2023-01-18            Savings   Uptown     Loan Payment
7   2023-01-09            Current  Central     Loan Payment
13  2023-01-05  Recurring Deposit  Central     Loan Payment
17  2023-01-07            Current  Central     Loan Payment

    Transaction_Amount  Account_Balance
0               985.51          6839.59
2              3363.85         12428.67
3              1914.60          5776.63
7              2346.72         10708.85
13             4683.64          6762.43
17             4116.52          9785.64

Transactions made in the 'Uptown' branch:
          Date   Account_Type  Branch Transaction_Type  Transaction_Amount  \
1   2023-01-16        Current  Uptown       Withdrawal              641.43
2   2023-01-10        Current  Uptown     Loan Payment             3363.85
3   2023-01-18        Savings  Uptown     Loan Payment             1914.60
12  2023-01-15  Fixed Deposit  Uptown   Service Charge             1225.50

    Account_Balance
1           8908.39
2          12428.67
3           5776.63
12          4224.47

In [4]:
#Q_2
import pandas as pd

file_path = r'/content/drive/MyDrive/Assignments_excelr/Day_10_banking_data.csv'
df = pd.read_csv(file_path)

# Task 1: Add a new column called Transaction_Fee, calculated as 2% of Transaction_Amount
df['Transaction_Fee'] = df['Transaction_Amount'] * 0.02

# Task 2: Create a new column Balance_Status
df['Balance_Status'] = df['Account_Balance'].apply(lambda x: 'High Balance' if x > 5000 else 'Low Balance')

print("First 5 rows of the dataset with new columns:")
print(df.head())

First 5 rows of the dataset with new columns:
         Date       Account_Type    Branch Transaction_Type  \
0  2023-01-19      Fixed Deposit   Central     Loan Payment
1  2023-01-16            Current    Uptown       Withdrawal
2  2023-01-10            Current    Uptown     Loan Payment
3  2023-01-18            Savings    Uptown     Loan Payment
4  2023-01-14  Recurring Deposit  Suburban     Loan Payment

   Transaction_Amount  Account_Balance  Transaction_Fee Balance_Status
0              985.51          6839.59          19.7102   High Balance
1              641.43          8908.39          12.8286   High Balance
2             3363.85         12428.67          67.2770   High Balance
3             1914.60          5776.63          38.2920   High Balance
4             2788.57          4779.04          55.7714    Low Balance

In [ ]:
from google.colab import drive
drive.mount('/content/drive')