<a href="https://colab.research.google.com/github/rukendar/Rukendar.s/blob/main/Feature_scaling_28_1_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

data = {
    "customer_id": [1, 2, 3, 4],
    "gender": ["Male", "Female", "Female", "Male"],
    "Subscription_Status": ["Active", "Inactive", "Active", "Inactive"],
    "city":[""]
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

label_encoders = {}
for column in ["gender", "Subscription_Status"]:
    le = LabelEncoder()
    df[column] = le.fit_transform(df[column])
    label_encoders[column] = le

print("\nLabel Encoded DataFrame:")
print(df)

Original DataFrame:
   customer_id  gender Subscription_Status
0            1    Male              Active
1            2  Female            Inactive
2            3  Female              Active
3            4    Male            Inactive

Label Encoded DataFrame:
   customer_id  gender  Subscription_Status
0            1       1                    0
1            2       0                    1
2            3       0                    0
3            4       1                    1

In [3]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

data = {
    "customer_id": [1, 2, 3, 4],
    "gender": ["Male", "Female", "Female", "Male"],
    "city": ["Hyderabad", "pune", "Banglore", "mumbai"]
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

ordinal_encoder = OrdinalEncoder()
encoded_data = ordinal_encoder.fit_transform(df[["gender", "city"]])
df[["gender", "city"]] = encoded_data

print("\nOrdinal Encoded DataFrame:")
print(df)

Original DataFrame:
   customer_id  gender       city
0            1    Male  Hyderabad
1            2  Female       pune
2            3  Female   Banglore
3            4    Male     mumbai

Ordinal Encoded DataFrame:
   customer_id  gender  city
0            1     1.0   1.0
1            2     0.0   3.0
2            3     0.0   0.0
3            4     1.0   2.0

In [4]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Sample dataset
data = {
    "customer_id": [1, 2, 3, 4],
    "gender": ["Male", "Female", "Female", "Male"],
    "city": ["Hyderabad", "pune", "Banglore", "mumbai"]
}

# Convert data to a DataFrame
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
one_hot_encoder = OneHotEncoder(sparse_output=False)
columns_to_encode = ["gender", "city"]
encoded_data = one_hot_encoder.fit_transform(df[columns_to_encode])
encoded_columns = one_hot_encoder.get_feature_names_out(columns_to_encode)
encoded_df = pd.DataFrame(encoded_data, columns=encoded_columns)
#final_df = pd.concat([df.drop(columns=columns_to_encode), encoded_df], axis=1)
print("\nOne-hot Encoded Dataframe with sklearn:")
#print(final_df)

Original DataFrame:
   customer_id  gender       city
0            1    Male  Hyderabad
1            2  Female       pune
2            3  Female   Banglore
3            4    Male     mumbai

One-hot Encoded Dataframe with sklearn:

In [5]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

data = {
    "Customer details": [23, 45, 67, 89],
    "Gender": ["Male", "Female", "Female", "Male"],
    "Location": ["Siddipet", "Dornakal", "Khammam", "Warangal"],
    "Village": ["Siddipet","Kondamrajpally","Khata","ittapalli"]
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

one_hot_encoder = OneHotEncoder(sparse_output=False)
encoded_data = one_hot_encoder.fit_transform(df[["Gender", "Location","Village"]])
encoded_columns = one_hot_encoder.get_feature_names_out(["Gender", "Location","Village"])
encoded_df = pd.DataFrame(encoded_data, columns=encoded_columns)
print("\nDataFrame after One Hot Encoding:")
print(encoded_df)

Original DataFrame:
   Customer details  Gender  Location         Village
0                23    Male  Siddipet        Siddipet
1                45  Female  Dornakal  Kondamrajpally
2                67  Female   Khammam           Khata
3                89    Male  Warangal       ittapalli

DataFrame after One Hot Encoding:
   Gender_Female  Gender_Male  Location_Dornakal  Location_Khammam  \
0            0.0          1.0                0.0               0.0
1            1.0          0.0                1.0               0.0
2            1.0          0.0                0.0               1.0
3            0.0          1.0                0.0               0.0

   Location_Siddipet  Location_Warangal  Village_Khata  \
0                1.0                0.0            0.0
1                0.0                0.0            0.0
2                0.0                0.0            1.0
3                0.0                1.0            0.0

   Village_Kondamrajpally  Village_Siddipet  Village_ittapalli
0                     0.0               1.0                0.0
1                     1.0               0.0                0.0
2                     0.0               0.0                0.0
3                     0.0               0.0                1.0